

/* ------------------------------------------------------------------ */
/* 21 - 02 - 2023 - Airoldi Federico */

/* Utility */

.flex{
    display: flex;
}

body{
    font-family: 'Rubik', sans-serif;
}

.reflink-style1{
    padding: 6px 12px;
    border-radius: 20px;
}

h2{
    font-size: 35px;
    color: #23272a;
}

#textwidth{
    max-width: 300px;
}

div > p {
    font-weight: lighter;
    margin-top: 20px;
}



/* HEADER */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* HEADER *//* NAV */
nav{
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    color: white;
    align-items: center;
}

/* HEADER *//* NAV *//* Link Page */
a {
    outline: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
  }

ul li{
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;
}

ul{
    justify-content:space-between;
}

/* HEADER *//* NAV *//* Login */
.login{
    background-color: white;
    color: rgb(23, 23, 23);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER *//* Section */
.header-section {
    min-height: 650px;
}

/* HEADER *//* Section *//*Main Title*/
h1{
    font-size: 50px;
}

/* HEADER *//* Section *//*Sentence*/
h1 + p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 22px;
}

/* HEADER *//* Section *//*linkref1*/
#linkref1 {
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(23, 23, 23) ;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 18px;
    margin-right: 20px;
}

/* HEADER *//* Section *//*linkref2*/
#linkref2 {
    background-color: rgb(37, 37, 37);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white ;
    padding: 11px 18px;
    border-radius: 20px;
    font-size: 18px;
    margin-left: 20px;
}


/* HEADER *//* Section *//*Size*/
#flex-header {
    margin: auto;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    min-height: 400px;
}

#div-ref-link{
    align-items: end;
}

/* ---------------------------------------------------------------------------- */
/* MAIN */


/* MAIN *//* Section 1 */

#sec-1{
    flex-direction: column-reverse;
    min-height: 400px;
    background-color: #ffffff;
    justify-content: normal;
    align-items: normal;
    margin-top: 50px;
}

#sec1-1{
    display: flex;
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#div1-sec1{
    background-color: rgb(255, 255, 255);
    align-items: center;
}

#div2-sec1{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-right: 150px;
    
}


/* ----------------------------------------------------- */
/* MAIN *//* Section 2 */

#sec-2{
    flex-direction: column-reverse;
    min-height: 400px;
    background-color: lightgray;
    justify-content: normal;
    align-items: normal;

}

#sec2-1{
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: lightgray;
}

#div1-sec2{
    /* align-items: center; */
    flex-basis: 50%;
    justify-content: start;
}

#div2-sec2{
    justify-content: center;
    align-items: center;
    text-align: start;
    /* padding-left: 150px; */
    flex-basis: 50%;
    max-width: 250px;
    
}

div > p {
    font-weight: lighter;
    margin-top: 20px;
}

/* ----------------------------------------------------- */
/* MAIN *//* Section 3 */

#sec-3{
    flex-direction: column-reverse;
    background-color: #ffffff;
    justify-content: normal;
    align-items: normal;
    margin-top: 50px;
}

#sec3-1{
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#div1-sec3{
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: end;
    flex-basis: 10%;
}

#div2-sec3{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: start;
    max-width: 250px;
    flex-basis: 90%;
    margin-right: 250px;
}


/* ----------------------------------------------------- */
/* MAIN *//* Section 4 */

/* section 4 */
#sec-4{
    /* background-image: url(../img/wave.svg); */
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#sec4-1{
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    background-color: lightgray;
    min-height: 780px;
}

/* Section *//*linkref3*/
#linkref3 {
    background-color: rgb(181, 130, 251);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white ;
    padding: 11px 18px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 30px;
}

#stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 25px;
}

#wave1 {
    /* background-color: rgb(255, 255, 255); */
    filter: invert(72%) sepia(0%) saturate(4941%) hue-rotate(288deg) brightness(109%) contrast(114%);
    display: block;
    width: 100vw;
    
}

#wave2 {
    /* background-color: rgb(255, 255, 255); */
    filter: invert(72%) sepia(0%) saturate(4941%) hue-rotate(288deg) brightness(109%) contrast(114%);
    display: block;
    rotate: 180deg;
    width: 100vw;
}

/* ----------------------------------------------------- */
/* ------------------------------------- */
/* footer */

footer{
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#foot-div{
    margin: auto;
    width: 60%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footer-sec{
    display: flex;
    justify-content: space-between;
}

#signup{
    display: flex;
    justify-content: space-between;
}


.discordcolor {
    background-color: rgb(181, 130, 251);
    color: white;
}

.discordcolor-text {
    color: rgb(181, 130, 251);
}

#footer-title {
    font-size: 25px;
}

#ita-flag {
    /* width: 30px; */
    height: 15px;
    margin-right: 5px;
}

#select-lenguage {
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

#select-lenguage i{
    margin-left: 5px;
}

#footersec1 > * {
    margin-bottom: 20px;
    width: 220px;
}