

/* -------------------------------------------- */
/* section 1 */


/* section 2 */
#sec-2{
    display: flex;
    min-height: 400px;
    background-color: #f7f6f7;
    justify-content: center;
    align-items: center;
}

#sec2-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: #f7f6f7;
    justify-content: center;
    align-items: center;
}

#div1-sec2{
    display: flex;
    width: 60%;
    background-color: #f7f6f7;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec2{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f7f6f7;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    text-align: start;
}

/* section 3 */
#sec-3{
    display: flex;
    flex-direction: column-reverse;
    min-height: 400px;
    background-color: #ffffff;
    justify-content: normal;
    align-items: normal;
    position: relative;
    /* padding-bottom: 400px; */
}

#sec3-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#div1-sec3{
    display: flex;
    width: 60%;
    background-color: rgb(255, 255, 255);
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec3{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    min-height: 350px;
    justify-content: center;
    align-items: center;
    text-align: start;
}


/* section 4 */
#sec-4{
    background-color: #f7f6f7;
    display: flex;
    /* min-height: 600px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

#sec4-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 60%;
    min-height: 500px;
    background-color: #f7f6f7;
    align-items: center;
}

/* ------------------------------------- */
/* footer */

footer{
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
    color: white;
}

#foot-div{
    margin: auto;
    width: 60%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footer-sec{
    display: flex;
    justify-content: space-between;
}

#signup{
    display: flex;
    justify-content: space-between;
}





/* ------------------------------------------------------------------ */
/* 21 - 02 - 2023 - Airoldi Federico */

/* Utility */

.flex{
    display: flex;
}

body{
    font-family: 'Rubik', sans-serif;
}

.reflink-style1{
    padding: 6px 12px;
    border-radius: 20px;
}

/* .reflink-style2{
    padding: 12px 24px;
    border-radius: 40px;
} */

h2{
    font-size: 35px;
    color: #23272a;
}


/* HEADER */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* HEADER *//* NAV */
nav{
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    color: white;
    align-items: center;
}

/* HEADER *//* NAV *//* Link Page */
a {
    outline: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
  }

ul li{
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;
}

ul{
    justify-content:space-between;
}

/* HEADER *//* NAV *//* Login */
.login{
    background-color: white;
    color: rgb(23, 23, 23);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER *//* Section */
.header-section {
    min-height: 650px;
}

/* HEADER *//* Section *//*Main Title*/
h1{
    font-size: 50px;
}

/* HEADER *//* Section *//*Sentence*/
h1 + p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 22px;
}

/* HEADER *//* Section *//*linkref1*/
#linkref1 {
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(23, 23, 23) ;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 18px;
    margin: 0 15px;
}

/* HEADER *//* Section *//*linkref2*/
#linkref2 {
    background-color: rgb(37, 37, 37);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white ;
    padding: 11px 18px;
    border-radius: 20px;
    font-size: 18px;
    margin: 0 15px;
}

/* HEADER *//* Section *//*Size*/
#flex-header {
    margin: auto;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    min-height: 400px;
}

/* ---------------------------------------------------------------------------- */
/* MAIN */


/* MAIN *//* Section 1 */

#sec-1{
    flex-direction: column-reverse;
    position: relative;
    min-height: 400px;
    background-color: #ffffff;
    justify-content: normal;
    align-items: normal;
}

#sec1-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
}

#div1-sec1{
    /* display: flex; */
    /* flex-basis: %; */
    background-color: rgb(255, 255, 255);
    /* min-height: 350px; */
    /* justify-content: end; */
    align-items: center;
}

#div2-sec1{
    /* display: flex; */
    flex-basis: 45%;
    /* flex-direction: column; */
    /* flex-grow: 1; */
    background-color: rgb(255, 255, 255);
    /* min-height: 350px; */
    justify-content: center;
    align-items: center;
    text-align: start;
    
}

#textwidth{
    max-width: 300px;
}

div > p {
    font-weight: lighter;
    margin-top: 20px;
}